body {
  font-family     : helvetica, arial sans-serif;
  width           : 500px;
  margin          : auto;
}

h1 {
  text-align      : center;
}

form {
  width           : 400px;
  border          : 1px solid grey;
  padding         : 10px;
  margin-top      : 10px;
}

.error {
  width           : 400px;
  padding         : 10px;
  background-color: #ffebe8;
  border          : 1px solid #dd3c10;
  vertical-align  : middle;
}

.ok {
  width           : 400px;
  padding         : 10px;
  background-color: #a3ffc9;
  border          : 1px solid #59c886;
  vertical-align  : middle;
}

.emblem {
  margin-right    : 10px;
  vertical-align  : middle;
}
